<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
  </head>
  <body>
    <div>reset password <%= email %></div>
    <form action="" method="post">
      <label for="password">Password</label>
      <input type="text" id="password" name="password" />
      <button type="submit">Reset</button>
    </form>
  </body>
</html>
